html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    color: white;
    font-family: "Cabin", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

nav {
    background-color: transparent;
}

/*navbar*/
.navbar-brand {
    color: white;
}
.navbar-brand:hover {
    color: white;
}
.navbar-brand img {
    width: 20px;
}
.navbar a.nav-link {
    color: white;
}
/*
.container {
    position: relative;
}
*/
h3 {
    font-size: 500;
}

/*quienes somos*/
#quienes-somos {
    padding: 2rem;
}

.barra {
    background-color: rgb(13, 202, 240);
    text-align: center;
    font-size: 2rem;
}

/*destacados*/
#destacados {
    padding: 2rem;
}

#destacados .card-body {
    background-color: rgb(13, 202, 240);
    color: white;
}

#destacados .card-img-top {
    width: auto;
    height: 12rem;
}

/*contacto*/
#contacto {
    background-color: black;
    padding: 3rem;
    color: white;
}

#btnEnviar {
    background-color: rgb(13, 202, 240);
    border-color: rgb(13, 202, 240);
    color: white;
}

/*footer*/
footer {
    padding: 2rem;
    background-color: rgb(13, 202, 240);
}

footer i {
    color: white;
    font-size: 30px;
}