html {
    scroll-behavior: smooth;
}
nav {
    background-color: transparent;
}
.container {
    position: relative;
}
#inicio, #quienes-somos, #destacado, #contacto {
    min-height: 25rem;
}
/*destacado*/
#destacado {
    background-color: black;
    padding: 3rem;
    color: aqua;
}
/*contacto*/
#contacto {
    background-color: black;
    padding: 3rem;
    color: white;
}
/*footer*/
footer {
    background-color: rgb(13,202,240);
}
footer h3 {
    color: white;
}
footer i {
    color: white;
    font-size: 30px;
}